.main {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #212121;
}
.wrapper {
  max-width: 1000px;
}
.block {
  margin-bottom: 30px;
  line-height: 1.3;
}
.icon {
  width: 100px;
}
